<h1>ETL</h1>

In [1]:
#Import modules
import numpy as np
import pandas as pd

<h2>Platforms datasets</h2>

In [ ]:
#Load the datasets
amazon = pd.read_csv('datasets/amazon_prime_titles.csv')
disney = pd.read_csv('datasets/disney_plus_titles.csv')
hulu = pd.read_csv('datasets/hulu_titles.csv')
netflix = pd.read_csv('datasets/netflix_titles.csv')

In [ ]:
#Add new id column with the first letter of each platform union show_id
amazon.insert(0, 'id', 'a' + amazon['show_id'].astype('string'))
disney.insert(0, 'id', 'd' + disney['show_id'].astype('string'))
hulu.insert(0, 'id', 'h' + hulu['show_id'].astype('string'))
netflix.insert(0, 'id', 'n' + netflix['show_id'].astype('string'))

In [6]:
#Fill with 'G' in empty rating column places
amazon['rating'] = amazon['rating'].fillna('G')
disney['rating'] = disney['rating'].fillna('G')
hulu['rating'] = hulu['rating'].fillna('G')
netflix['rating'] = netflix['rating'].fillna('G')

In [7]:
#Transform dates in format yyy-mm-dd
amazon['date_added'] = pd.to_datetime(amazon['date_added'])
disney['date_added'] = pd.to_datetime(disney['date_added'])
hulu['date_added'] = pd.to_datetime(hulu['date_added'])
netflix['date_added'] = pd.to_datetime(netflix['date_added'])

In [8]:
#Divide the column duration in duration_int and duration_type
amazon[['duration_int', 'duration_type']] = amazon.duration.str.split(' ', expand=True)
disney[['duration_int', 'duration_type']] = disney.duration.str.split(' ', expand=True)
hulu[['duration_int', 'duration_type']] = hulu.duration.str.split(' ', expand=True)
netflix[['duration_int', 'duration_type']] = netflix.duration.str.split(' ', expand=True)

In [9]:
#Change the text in lower case
listcolum = ['type','title','director','cast','country','listed_in','description','duration_type']
for item in listcolum:
    amazon[item] = amazon[item].str.lower()
for item in listcolum:
    disney[item] = disney[item].str.lower()
for item in listcolum:
    hulu[item] = hulu[item].astype('string') 
for item in listcolum:
    hulu[item] = hulu[item].str.lower()  
for item in listcolum:
    netflix[item] = netflix[item].str.lower()

In [6]:
print(amazon.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9668 non-null   string
 1   show_id        9668 non-null   object
 2   type           9668 non-null   object
 3   title          9668 non-null   object
 4   director       7586 non-null   object
 5   cast           8435 non-null   object
 6   country        672 non-null    object
 7   date_added     155 non-null    datetime64[ns]
 8   release_year   9668 non-null   int64
 9   rating         9668 non-null   object
 10  duration       9668 non-null   object
 11  listed_in      9668 non-null   object
 12  description    9668 non-null   object
 13  duration_int   9668 non-null   object
 14  duration_type  9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12), string(1)
memory usage: 1.1+ MB
None

In [7]:
print(disney.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1450 non-null   string
 1   show_id        1450 non-null   object
 2   type           1450 non-null   object
 3   title          1450 non-null   object
 4   director       977 non-null    object
 5   cast           1260 non-null   object
 6   country        1231 non-null   object
 7   date_added     1447 non-null   datetime64[ns]
 8   release_year   1450 non-null   int64
 9   rating         1450 non-null   object
 10  duration       1450 non-null   object
 11  listed_in      1450 non-null   object
 12  description    1450 non-null   object
 13  duration_int   1450 non-null   object
 14  duration_type  1450 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12), string(1)
memory usage: 170.1+ KB
None

In [8]:
print(hulu.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3073 non-null   string
 1   show_id        3073 non-null   object
 2   type           3073 non-null   string
 3   title          3073 non-null   string
 4   director       3 non-null      string
 5   cast           0 non-null      string
 6   country        1620 non-null   string
 7   date_added     3045 non-null   datetime64[ns]
 8   release_year   3073 non-null   int64
 9   rating         3073 non-null   object
 10  duration       2594 non-null   object
 11  listed_in      3073 non-null   string
 12  description    3069 non-null   string
 13  duration_int   2594 non-null   object
 14  duration_type  2594 non-null   string
dtypes: datetime64[ns](1), int64(1), object(4), string(9)
memory usage: 360.2+ KB
None

In [9]:
print(netflix.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             8807 non-null   string
 1   show_id        8807 non-null   object
 2   type           8807 non-null   object
 3   title          8807 non-null   object
 4   director       6173 non-null   object
 5   cast           7982 non-null   object
 6   country        7976 non-null   object
 7   date_added     8797 non-null   datetime64[ns]
 8   release_year   8807 non-null   int64
 9   rating         8807 non-null   object
 10  duration       8804 non-null   object
 11  listed_in      8807 non-null   object
 12  description    8807 non-null   object
 13  duration_int   8804 non-null   object
 14  duration_type  8804 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12), string(1)
memory usage: 1.0+ MB
None

In [3]:
#fill null values from int type columns
platforms = [amazon, disney, hulu, netflix]
for plat in platforms:
    plat['release_year'] = plat['release_year'].fillna(0)
    plat['duration_int'] = plat['duration_int'].fillna(0)

In [4]:
#fill null date values
for plat in platforms:
    plat['date_added'] = plat['date_added'].fillna('2000-12-12 00:00:00')

In [5]:
#setting datatypes 
for rt in platforms:
    rt['id'] = rt['id'].astype('str')
    rt['show_id'] = rt['show_id'].astype('str')
    rt['type'] = rt['type'].astype('str')
    rt['title'] = rt['title'].astype('str')
    rt['director'] = rt['director'].astype('str')
    rt['cast'] = rt['cast'].astype('str')
    rt['country'] = rt['country'].astype('str')
    rt['date_added'] = rt['date_added'].astype('str')
    rt['release_year'] = rt['release_year'].astype('int')
    rt['rating'] = rt['rating'].astype('str')
    rt['duration'] = rt['duration'].astype('str')
    rt['listed_in'] = rt['listed_in'].astype('str')
    rt['description'] = rt['description'].astype('str')
    rt['duration_int'] = rt['duration_int'].astype('int')
    rt['duration_type'] = rt['duration_type'].astype('str')

In [3]:
#add a new column platform
amazon['platform'] = 'amazon'
disney['platform'] = 'disney'
hulu['platform'] = 'hulu'
netflix['platform'] = 'netflix'

In [7]:
#Export csv
amazon.to_parquet('datasets/amazon.parquet')
disney.to_parquet('datasets/disney.parquet')
hulu.to_parquet('datasets/hulu.parquet')
netflix.to_parquet('datasets/netflix.parquet')

<h2>Categories dataset</h2>

In [2]:
#load parquet files
amazon = pd.read_parquet('datasets/amazon.parquet')
disney = pd.read_parquet('datasets/disney.parquet')
hulu = pd.read_parquet('datasets/hulu.parquet')
netflix = pd.read_parquet('datasets/netflix.parquet')

In [14]:
#Extract the genres from multivalue column 
def categories_table():
    series = pd.Series([])
    for platform in [amazon, disney, hulu, netflix]:
        categories = platform['listed_in'].str.split(',', expand=True)
        categories = categories.stack()
        categories = categories.str.replace(' ', '')
        series = pd.concat([series, categories], ignore_index=True)
    y = np.sort(series.unique())
    return y

In [ ]:
#use the function
cat = categories_table()

In [18]:
#creating a new dataframe with id and genres
categories = pd.DataFrame({"id_gen":[x for x in range(0,len(cat))], "genres": cat})

In [21]:
categories.head()

   id_gen            genres
0       0            action
1       1  action&adventure
2       2  action-adventure
3       3    adultanimation
4       4         adventure

In [22]:
#save the table into parquet file
categories.to_parquet("datasets/categories.parquet", index=False)

<h2>Platform_categories dataset</h2>

In [ ]:
#load parquet files
amazon = pd.read_parquet('datasets/amazon.parquet')
disney = pd.read_parquet('datasets/disney.parquet')
hulu = pd.read_parquet('datasets/hulu.parquet')
netflix = pd.read_parquet('datasets/netflix.parquet')

In [3]:
df = pd.read_parquet('datasets/categories.parquet')
df.head()

   id_gen            genres
0       0            action
1       1  action&adventure
2       2  action-adventure
3       3    adultanimation
4       4         adventure

In [58]:
#mapping id from platforms with genres in categories
platform_categories = pd.DataFrame(columns=["id","genres"])
platforms = [amazon, disney, hulu, netflix]
for plat in platforms: 
    for i in df['genres'].array:
        datafr = pd.DataFrame({"id":plat['id'].where(plat['listed_in'].str.contains(i)).dropna(), "genres": i})
        platform_categories = pd.concat([platform_categories, datafr])

In [60]:
print(platform_categories.shape)
platform_categories.head()

(53775, 2)

      id  genres
2    as3  action
8    as9  action
21  as22  action
29  as30  action
52  as53  action

In [7]:
#mapping genres with its id_gen
platform_categories = platform_categories.merge(df, how='left', on='genres')

In [10]:
platform_categories.head()

     id  genres  id_gen
0   as3  action       0
1   as9  action       0
2  as22  action       0
3  as30  action       0
4  as53  action       0

In [8]:
#save into parquet file
platform_categories.to_parquet('datasets/platforms_categories.parquet', index=False)

<h2>Unified ratings dataset</h2>

In [2]:
#Load data
rating1 = pd.read_csv('datasets/ratings/1.csv')
rating2 = pd.read_csv('datasets/ratings/2.csv')
rating3 = pd.read_csv('datasets/ratings/3.csv')
rating4 = pd.read_csv('datasets/ratings/4.csv')
rating5 = pd.read_csv('datasets/ratings/5.csv')
rating6 = pd.read_csv('datasets/ratings/6.csv')
rating7 = pd.read_csv('datasets/ratings/7.csv')
rating8 = pd.read_csv('datasets/ratings/8.csv')

In [3]:
#concatenate dataframes
unified = pd.concat([rating1, rating2, rating3, rating4, rating5, rating6, rating7, rating8])

In [4]:
#change timestamp to datetime
unified['timestamp'] = pd.to_datetime(unified['timestamp'], unit='s')

In [6]:
unified.head()

   userId  rating           timestamp movieId
0       1     1.0 2015-03-09 22:52:09   as680
1       1     4.5 2015-03-09 23:07:15  ns2186
2       1     5.0 2015-03-09 22:52:03  hs2381
3       1     5.0 2015-03-09 22:52:26  ns3663
4       1     5.0 2015-03-09 22:52:36  as9500

In [ ]:
dt1 = unified.iloc[:3674763,:]
dt2 = unified.iloc[3674763:7349526,:]
dt3 = unified.iloc[7349526:,:]

In [8]:
#Export in parquet format for memory issues 
dt1.to_parquet('datasets/ratings/ratings_unified1.parquet')
dt2.to_parquet('datasets/ratings/ratings_unified2.parquet')
dt3.to_parquet('datasets/ratings/ratings_unified3.parquet')